@page "/staffIndex/create/"
@using HomeCarePharmacy_Project.Client.Static
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New Staff</h3>
<hr />
<br />

<EditForm Model="@staff" OnValidSubmit="Createstaff">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class=" form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="@staff.Name" class="form-control" />
            <ValidationMessage For="@(() => staff.Name)" />
        </div>
        <label>Gender: </label>
        <div>
            <InputText @bind-Value="@staff.Gender" class="form-control" />
            <ValidationMessage For="@(() => staff.Gender)" />
        </div>
    </div>


    <button type="submit" class="btn btn-success btn-block">
        Create Staff
    </button>

    <br />
</EditForm>

@code {
    Staff staff = new Staff();

    private async Task Createstaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffIndex/");
    }
}
