@page "/consultationsIndex/create/"
@using HomeCarePharmacy_Project.Client.Static
@inject HttpClient _client
@inject NavigationManager _navManager

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeCare Pharmacy SG</title>
    <link rel="stylesheet" href="css/mainstyles.css">
</head>

<header>
    <div class="main-header">
        <img src="Icon.png" alt="HomeCare Pharmacy Logo" />
    </div>
</header>

<h3 class="card-title">Create New Consultation</h3>

<main>
    <hr />
    <br />

    <EditForm Model="@consultation" OnValidSubmit="@Createconsultation">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Date: </label>
            <div>
                <InputDate @bind-Value="@consultation.ConsultationDate" class="form-control" />
                <ValidationMessage For="@(() => consultation.ConsultationDate)" />
            </div>
        </div>

        <div class="form-group">
            <label>Status: </label>
            <div>
                <InputText @bind-Value="@consultation.ConsultationStatus" class="form-control" />
                <ValidationMessage For="@(() => consultation.ConsultationStatus)" />
            </div>
        </div>

        <div class="form-group">
            <label>Customer: </label>
            <div>
                <InputSelect @bind-Value="@consultation.CustomerId" class="form-control">
                    <option value="">-- Select Customer --</option>
                    @if (Customers != null)
                    {
                        foreach (var customer in Customers)
                        {
                            <option value="@customer.CustomerId">@customer.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => consultation.CustomerId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Staff: </label>
            <div>
                <InputSelect @bind-Value="@consultation.StaffId" class="form-control">
                    <option value="">-- Select Staff --</option>
                    @if (Staffs != null)
                    {
                        foreach (var staff in Staffs)
                        {
                            <option value="@staff.StaffId">@staff.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => consultation.StaffId)" />
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">
            Add New Consultation
        </button>
    </EditForm>
</main>

<footer>
    &copy; 2023 Online Pharmacy. All rights reserved.
</footer>

</html>

@code {
    Consultation consultation = new Consultation();
    private IList<Customer>? Customers;
    private IList<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    private async Task Createconsultation()
    {
        await _client.PostAsJsonAsync(Endpoints.ConsultationsEndpoint, consultation);
        _navManager.NavigateTo("/consultationsIndex/");
    }
}
